<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AnimeCollection</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AnimeCollection.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="main-header">
        <nav class="navbar">
            <a class="navbar-brand" asp-page="/Index">
                AnimeCollection
            </a>
    
            <div class="navbar-links">
                <a asp-page="/Personnages/Index">Personnages</a>
    
                @if (User.Identity?.IsAuthenticated == true)
                {
                    <a asp-page="/Personnages/Favoris">Mes favoris</a>
                }
            </div>
    
            <div class="navbar-user">
                @if (User.Identity?.IsAuthenticated == true)
                {
                    <span>Bonjour, @User.Identity.Name</span>
    
                    <form method="post" asp-page="/Account/Logout">
                        <button type="submit">Déconnexion</button>
                    </form>
                }
                else
                {
                    <a asp-page="/Account/Login">Connexion</a>
                    <a asp-page="/Account/Register">Inscription</a>
                }
            </div>
			@if (User.Identity?.IsAuthenticated == true)
			{
    			<a asp-page="/Personnages/Favoris">Mes favoris</a>
			}
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
			<partial name="_Alert" />

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - AnimeCollection - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    
    </body>
</html>
