@page

@{
    ViewData["Title"] = "Page introuvable";
}

<section class="error-page">
    <h1>404</h1>

    <p>
        La page demandée n'existe pas.
    </p>

    <a class="btn" asp-page="/Index">
        Retour à l'accueil
    </a>
</section>