@page
@model AnimeCollection.Pages.ErrorModel

@{
    ViewData["Title"] = "Erreur";
}

<section class="error-page">
    <h1>Une erreur est survenue</h1>

    <p>
        Désolé, un problème inattendu est arrivé.
        Veuillez réessayer plus tard.
    </p>

    <a class="btn" asp-page="/Index">
        Retour à l'accueil
    </a>
</section>